@using DoAnTapHoaCongNghe.ViewModels
@model IList<Order>
<style>
    .content-wrapper {
        background: #f0f1f6;
        padding: 2.875rem 2.875rem 0 2.875rem;
        width: 100%;
        flex-grow: 1;
    }

    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -9px;
        margin-left: -9px;
    }

    stretch-card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
        justify-content: stretch;
    }

    .stretch-card > .card {
        width: 100%;
        min-width: 100%;
    }

    .card .card-body {
        padding: 2.5rem 2.5rem;
    }

    .card-body {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
    }

    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.3125rem;
    }

    .page-title {
        color: #111;
        font-size: 1.125rem;
        margin-bottom: 0;
    }

    .table-bordered {
        border: 1px solid rgba(151, 151, 151, 0.3);
    }

    .table thead th {
        border-top: 0;
        border-bottom-width: 1px;
        font-family: "nunito-medium", sans-serif;
        font-weight: initial;
    }

    .table th, .table td {
        vertical-align: middle;
        font-size: 0.875rem;
        line-height: 1;
        white-space: nowrap;
    }

    tbody {
        display: table-row-group;
        vertical-align: middle;
        unicode-bidi: isolate;
        border-color: inherit;
    }

    tr {
        display: table-row;
        vertical-align: inherit;
        unicode-bidi: isolate;
        border-color: inherit;
    }

    .badge {
        border-radius: .25rem;
        font-size: 11px;
        font-weight: initial;
        line-height: 1;
        padding: .375rem .5625rem;
        font-family: "nunito-medium", sans-serif;
        display: inline-block;
        padding: 0.25em 0.4em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25rem;
        -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    
    }

    .badge-success, .preview-list .preview-item .preview-thumbnail .badge.badge-online {
        color: #fff;
        font-size: 11px;
        background-color: #44ce42;
    }

    .badge-info, .preview-list .preview-item .preview-thumbnail .badge.badge-offline {
        border: 1px solid #a461d8;
        font-size: 11px;
        color: #ffffff;
    }

    .badge-info, .preview-list .preview-item .preview-thumbnail .badge.badge-offline {
        color: #fff;
        background-color: #a461d8;
        font-size: 11px;
    }

</style>
<section id="hero" class="hero align-items-center" style="height: 10px; min-height: 0;">
</section>
<div class="">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div id="" class="">
                            <div class="page-title">
                                <h2>Order</h2>
                            </div>
                        </div>
                       
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">ID</th>
                                        <th class="text-center">Thời gian</th>
                                        <th class="text-center">Tổng giá</th>
                                        <th class="text-center">Trạng thái</th>
                                        <th class="text-center">      </th> <!-- Thêm cột cho actions -->
                                    </tr>
                                </thead>
                                <tbody id="table">
                                    @foreach (var order in Model)
                                    {
                                        <tr>
                                            <td class="text-center">@order.order_id</td>
                                            <td class="text-center">@order.Time</td>
                                            <td class="text-center">@order.total_price</td>
                                            <td class="text-center">
                                                @if (order.order_status == "paid")
                                                {
                                                <span class="badge badge-success">@order.order_status</span>
                                                }
                                            else if (order.order_status == "pending")
                                                {
                                                <span class="badge badge-warning">@order.order_status</span>
                                                }
                                            else if (order.order_status == "failed")
                                                {
                                                <span class="badge badge-danger">@order.order_status</span>
                                                }
                                            else if (order.order_status == "oe")
                                                {
                                                <span class="badge badge-info">@order.order_status</span>
                                                }
                                            </td>
                                            <td class="text-center d-flex justify-content-around">
                                                <a class="btn btn-outline-primary btn-fw" style="font-size: 12px;" href="@Url.Action("Details", "Order", new { OrderID = order.order_id })">Chi tiết</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
